body{
    background :url("../images/matchImage.jpg")no-repeat center center fixed;
    font-weight: bold;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}