<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:util="urn:thymeleaf-util">
<head>
  <title>Small final</title>

  <link th:href="@{/css/matchRound.css}" rel="stylesheet" />
  <link th:href="@{/css/tablesDisplay.css}" rel="stylesheet" />
  <link th:href="@{/css/colorTheTables.css}" rel="stylesheet" />
</head>
<body>
<br>
<div id="theRoundDetails"style="display: flex;">
  <span><h2> The small final</h2></span>
  <br>
</div>
<br>
<br>
<br>

<div id="container"style="display: flex;">

  <!-- put new button: Add Customer  -->
  <div class="table-wrapper">

    <table id="team1" class="teamT" style="flex: 1;" >
      <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="tempPlayer : ${p3Team.thePlayers}">
        <td th:text="${tempPlayer.id}"></td>
        <td th:text="${tempPlayer.firstName}"></td>
        <td th:text="${tempPlayer.lastName}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div class="table-wrapper">

    <table id="team2"class="teamT"style="flex: 1;">
      <thead>
      <tr>
        <th></th>
        <th ></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="tempPlayer : ${p4Team.thePlayers}">
        <td th:text="${tempPlayer.id}"></td>
        <td th:text="${tempPlayer.firstName}"></td>
        <td th:text="${tempPlayer.lastName}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
  <br>

<div class="table-wrapper">
  <table class="teamT">
    <thead>
    <tr>
      <th> Position </th>
      <th> Points </th>
      <th> Goals scored </th>
      <th> Goals received </th>
      <th>  </th>
    </tr>
    </thead>

    <tr >
      <td>1st <span th:text="${p1Team.getColor()}"></span></td>
      <td> <span th:text="${p1Team.getPoints()}"></span></td>
      <td><span th:text="${p1Team.getScoredGoals()}"></span> </td>
      <td><span th:text="${p1Team.getGoalsReceived()}"></span> </td>
      <td><span th:text="${p1Team.getGoalsSituation()}"></span> </td>
    </tr>
    <tr>
      <td>2nd <span th:text="${p2Team.getColor()}"></span></td>
      <td> <span th:text="${p2Team.getPoints()}"></span></td>
      <td><span th:text="${p2Team.getScoredGoals()}"></span></td>
      <td><span th:text="${p2Team.getGoalsReceived()}"></span> </td>
      <td><span th:text="${p2Team.getGoalsSituation()}"></span> </td>
    </tr>

    <tr>
      <td>3rd <span th:text="${p3Team.getColor()}"></span></td>
      <td> <span th:text="${p3Team.getPoints()}"></span></td>
      <td><span th:text="${p3Team.getScoredGoals()}"></span></td>
      <td><span th:text="${p3Team.getGoalsReceived()}"></span> </td>
      <td><span th:text="${p3Team.getGoalsSituation()}"></span> </td>
    </tr>

    <tr>
      <td>4th <span th:text="${p4Team.getColor()}"></span></td>
      <td> <span th:text="${p4Team.getPoints()}"></span></td>
      <td><span th:text="${p4Team.getScoredGoals()}"></span></td>
      <td><span th:text="${p4Team.getGoalsReceived()}"></span> </td>
      <td><span th:text="${p4Team.getGoalsSituation()}"></span> </td>
    </tr>

  </table>
</div>

<br>
<br>
<br>
<br>

<table class="matchTable">
  <thead>
  <tr>
    <th style="width: 30%">Scorers:</th>
    <th></th>
    <th></th>
    <th style="width: 30%">Scorers:</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>-</td>
    <td rowspan="3" th:text="${p3Team.color}" id="team1Name"></td>
    <td rowspan="3" th:text="${p4Team.color}"id="team2Name"></td>

    <td></tr>
  <tr>
    <td>-</td>
    <td>-</td>

  </tr>
  <tr>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>-</td>
    <td rowspan="3"  th:text="${smallFinal.score_team1}" id="t1Score" ></td>
    <td rowspan="3"  th:text="${smallFinal.score_team2}" id="t2Score"> </td>

    <td>-</td>
  </tr>
  <tr>
    <td>-</td>
    <td>-</td>


  </tr>
  <tr>
    <td>-</td>
    <td>-</td>
  </tr>

  </tbody>
</table>

<br>
<br>
<div id="goalsForm">
  <div id="goalT1" style="display: flex;">
    <form  th:action="@{/t1GoalSF}" method="post">
      <label for="scorerIdT2">Team1 Player id:</label>
      <br>
      <br>
      <input type="text" th:name="scorerId"  id="scorerIdT1"/>
      <br>
      <input id="saveIt" type="submit" value="GOAL"/>
    </form></div>

  <div id="goalT2" style="display: flex;">
    <form  th:action="@{/t2GoalSF}" method="post">
      <label for="scorerIdT2">Team2 Player id:</label>
      <br>
      <br>
      <input type="text" th:name="scorerId" id="scorerIdT2"/>
      <br>
      <input id="save" type="submit" value="GOAL"/>
    </form>
  </div>
</div>
<br>
<br>

<div class="containerDiv">
  <form th:action="@{/bigFinal}" method="get">
    <button id="nextGame" type="submit">Next Game</button>
  </form>
</div>

<br>
<br>
<br>
<br>

</body>

</html>


